**/*.lst
**/*.lnp
**/*.Opt
**/*.plg
**/*.M51
**/*.bak
**/*.LST
**/*.OBJ
**/*.Administrator

**/*._ia
**/*.__i
**/*.dep
**/*.htm

**/*.d
**/*.o
**/*.crf
**/*.map
**/*.sct
**/*.tra
**/*.axf
**/*.hex
**/*.iex

**/History/
**/*.pcblib_viewstate
**/*.pcbdoc_viewstate
**/*.PrjPcbStructure
**/*.LOG

**/.vscode